<!--cargamos librerias de Bootstrap-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona's Scan </title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'LineaBaseApp/assets/vendors/mdi/css/materialdesignicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'LineaBaseApp/assets/vendors/css/vendor.bundle.base.css'%}">
    

    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'LineaBaseApp/assets/vendors/jvectormap/jquery-jvectormap.css'%}">
    <link rel="stylesheet" href="{% static 'LineaBaseApp/assets/vendors/flag-icon-css/css/flag-icon.min.css'%}">
    <link rel="stylesheet" href="{% static 'LineaBaseApp/assets/vendors/owl-carousel-2/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'LineaBaseApp/assets/vendors/owl-carousel-2/owl.theme.default.min.css'%}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'LineaBaseApp/assets/css/style.css'%} ">
    <link rel="stylesheet" href="{% static 'LineaBaseApp/assets/css/main.css'%} ">
    <link rel="stylesheet" href="{% static 'LineaBaseApp/assets/css/util.css'%} ">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'LineaBaseApp/assets/images/favicon.png'%} " />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="{% url 'Home' %}"><img src="{% static 'LineaBaseApp/assets/images/logo2.svg'%}" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="{% url 'Home' %}"><img src="{% static 'LineaBaseApp/assets/images/logo-mini.svg'%}" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="{% static 'LineaBaseApp/assets/images/faces/face15.jpg'%}" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal"> Hola {{request.user}}</h5>
                  <span>Gold Member</span>
                </div>
              </div>
             
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Menu</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'Home' %}">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">Opciones de Escaneo</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'lineabase' %}">Linea Base</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'vulnerabilidades' %}">Vulnerabilidades</a></li>
      
              </ul>
            </div>
          </li>
    
          <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'reporte' %}">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
              <span class="menu-title">Reportes</span>
            </a>
          </li>
    
       
          <li class="nav-item menu-items">
            <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <span class="menu-icon">
                <i class="mdi mdi-security"></i>
              </span>
              <span class="menu-title">Opciones</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'login' %}"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'registro' %}"> Register </a></li>
              </ul>
            </div>
          </li>
         
        </ul>
      </nav>

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="{% url 'Home' %}"><img src="{% static 'LineaBaseApp/assets/images/logo-mini.svg'%}" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
              
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <a href="{% url 'cerrarsesion' %}" class="btn btn-warning">Cerrar Sesion </a>  
                            
                </form>
              </li>
            </ul>
          </nav>
            <!--<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>-->
          </div>
      

     
        <!-- partial  CUERPO, blocl content es la plantilla
         -->
        <div class="main-panel">
           {% block content %}

           {% endblock %}

        </div>
        <!-- main-panel ends -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">2022</span>
          
          </div>
        </footer>
 
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'LineaBaseApp/assets/vendors/js/vendor.bundle.base.js'%}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'LineaBaseApp/assets/js/off-canvas.js'%}"></script>
    <script src="{% static 'LineaBaseApp/assets/js/hoverable-collapse.js'%}"></script>
    <script src="{% static 'LineaBaseApp/assets/js/misc.js'%}"></script>
    <script src="{% static 'LineaBaseApp/assets/js/settings.js'%}"></script>
    <script src="{% static 'LineaBaseApp/assets/js/todolist.js'%}"></script>
  </body>
</html>